div#header
	h1= title
div#main
	div
		table#booklist
			thead
				tr
					th= 'author'
					th= 'title'
					th= 'edit'
					th= 'delete'
			tbody
				each book in books
					tr
						td= book.author
						td= book.title
						td
							button.editBook(book_id= book._id)= 'edit'
						td
							button.deleteBook(book_id= book._id)= 'delete'
	div
		form#frm_edit
			input#new_id.book_id(type='hidden')
			table.noborder
				tr
					td= 'author: '
					td
						input#new_author(type='text')
				tr
					td= 'title: '
					td
						input#new_title(type='text')
				tr
					td= 'description: '
					td
						textarea#new_desc
			button#btn_post= 'post'
			button#btn_update= 'update'
div#footer
script(type='text/javascript', src='/javascripts/book.js')
